body {
    margin: 0;
    padding: 0;
}   
header {
    position: sticky;
    top: 0;
    background-color: #0b111be8;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    width: 100%;
    box-shadow: 0 1px 6px rgba(169, 174, 202, 0.8);
    height: 80px; 
    z-index: 1000;
    backdrop-filter: blur(7px);
    
    }
.header-contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    

}

.header-contenedor a{
    text-decoration: none;
    
}

.header-left {
    display: flex;
    align-items: center;
    gap: 15px;
}
.header-left h1 {
    color: rgba(255, 255, 255, 0.904);
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0 0 5px rgba(0, 110, 255, 06);
    cursor: pointer;
    
}   

.header-left img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    filter: drop-shadow(0 0 8px rgba(24, 101, 216, 0.8));
}

.header-left img:hover {
    filter: drop-shadow(0 0 12px rgba(255, 115, 0, 0.616));
}

.header-right {
    display: flex;
    align-items: center;
    gap: 15px;
    
   
    
}
.header-right img {
    
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(1deg) brightness(103%) contrast(105%)
            drop-shadow(0 0 3px rgba(255, 115, 0, 0.8));
    
    border-radius: 20%  ;
    border: #068af7 3px solid;
        
}
#carr {
    width: 30px;
    height: 30px;
    cursor: pointer;
    padding: 5px;
   
}

#carr:hover {
    filter:invert(48%) sepia(79%) saturate(2476%) hue-rotate(1deg) brightness(103%) contrast(105%) 
    drop-shadow(0 0 20px rgba(0, 102, 255, 2));

}   

#carrito{
    background-color: rgb(255, 136, 0);
    border-radius: 50%;
    padding: 3px 7px;
    font-size: 0.8rem;
    color: rgb(255, 255, 255);
    font-weight: bold;
    position: relative;
    top: -10px;
    right: 10px;
    box-shadow: 0 0 5px rgb(245, 100, 4);
}

.header-contenedor img {
    width: 80px;
    height: 80px;
    cursor: pointer;

}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.466);
    z-index: 9999;
    /* Por defecto oculto */
    display: none;

}
#loading.active {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 80px;
    height: 80px;
    animation: rotate 0.5s linear infinite;
    
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(500deg);
    }
}



/*ESTILO PARA FILTROS*/


:root {
    --bg-dark: #0a111a;
    --card-bg: #0d1724;
    --accent-purple: #e74e07d0;
    --accent-cyan: #00233f;
    --text-gray: #8a95a5;
}

body { background-color: var(--bg-dark); color: white; font-family: sans-serif; }

.filter-card {
    margin: 20px auto;    /* Centra la tarjeta horizontalmente */
    max-width: 1000px;     /* Ajusta este ancho según prefieras */
    width: 90%;           /* Responsivo para móviles */
    padding: 20px;
    background-color: #0b111b; /* Color oscuro que se ve en tu imagen */
    border-radius: 12px;
    box-shadow:0px -12px 10px -10px rgba(255, 115, 0, 0.6), /* Sombra superior */
                0px 12px 10px -10px rgba(255, 115, 0, 0.6);  /* Sombra inferior */
}

.filter-header { display: flex; align-items: center; gap: 10px; margin-bottom: 20px; }
.filter-header h2 { font-size: 1.2rem; margin: 0; }

.label { color: var(--text-gray); font-size: 0.9rem; margin-bottom: 12px; }

/*BARRA DE BUSQUEDA*/
.search-input {
    width: 95%;
    padding: 10px 15px;
    background: #1a222c; /* Un tono más claro que el fondo de la tarjeta */
    border: 1px solid #333;
    border-radius: 8px;
    color: white;
    outline: none;
    transition: border-color 0.3s ease;

}

.search-input:focus {
    border-color: #ff7300; /* Resplandor naranja al hacer clic */
    box-shadow: 0 0 5px rgba(255, 115, 0, 0.3);
}




/* Botones de Categoría */
.category-buttons { 
    display: flex;
    justify-content: center; /* Centra los botones horizontalmente */
    flex-wrap: wrap;        /* Si no caben, bajan a la siguiente línea */
    gap: 15px;              /* Espacio entre cada botón */
    margin-top: 10px;
 }

.btn-category {
    background: #1e293b;
    border: none;
    color: rgba(0, 140, 255, 0.616);
    padding: 8px 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    width: 156px;
    height: 110px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column; /* Alinea texto arriba e icono abajo (o viceversa) */
    align-items: center;    /* Centra el contenido del botón */
    
    /* Agrega aquí tus estilos de borde y fondo */
}

.btn-category.active {
    background-color: #0d1724;
    color: rgb(255, 72, 0);
    box-shadow: 0 0 15px rgba(240, 100, 7, 0.507);
    border: 1px solid rgba(228, 93, 15, 0.267);
}

/* Slider de Precio Personalizado */
.price-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background: #17253b;
    border-radius: 5px;
    outline: none;
}

/* El círculo del slider */
.price-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    background: rgb(240, 99, 5);
    border-radius: 50%;
    cursor: pointer;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: 0 0 10px #ff5100;
}





























/*ESTILO PARA LAS TARJETAS DE LOS PRODUCTOS */
/* Contenedor principal que mencionaste en tu HTML */
#products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 25px;
    padding: 80px;
    background-color: #050a12;
    
}

/* La clase .product que creas en JS */
.product {
    display: flex;
}

/* La tarjeta .card interna */
.card {
    background-color: #0b141e;
    border: 1px solid #3f6e9c;
    border-radius:8px;
    overflow: hidden;
    width: 100%;
    padding-bottom: 15px;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0px 0px 15px rgba(0, 212, 255, 0.3);
}

.card:hover {
    
    border-color: #00d4ff;
    box-shadow: 0px 0px 25px rgba(0, 213, 255, 0.384);
    
}

.card:hover .product-image {
    /* 1.1 significa un 10% de aumento. 
       Puedes usar 1.2 si quieres que se note más */
    transform: scale(0.85); 
}

/* Estilo del enlace (título e imagen) */
.card a {
    text-decoration: none; /* Quitamos el subrayado que pediste antes */
    color: inherit;
    overflow: hidden;
    display: block;
}

/* Imagen del producto */
.product-image {
    width: 100%;
    height: 200px;
    object-fit: contain; /* Para que los productos de la API no se corten */
    background-color: rgba(255, 255, 255, 0); /* Fondo blanco para resaltar el producto */
    padding: 10px;
    display: block;
    transition: transform 0.4s ease;
}

.product-category {
    color: #00d4ff;
    font-size: 0.7rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0 15px;
    margin-top: 10px;
    text-transform: capitalize;
}

/* Título del producto */
.product-title {
    color: #ffffff;
    font-size: 1.1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 19px ;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* Precio */
.product-price {
    color: #f74f0d;
    font-weight: bold;
    font-size: 1.9rem;
    padding: 0 15px;
    margin: 10px 0;
   
}

/* Botón Añadir al carrito */
.product-add {
    
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;   
 
    background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
    color: white;
    border: none;
    cursor: pointer;    
    
    transition: transform 0.3s ease, filter 0.3s ease, box-shadow 0.3s ease;
 
    box-shadow: 0 4px 15px rgba(37, 117, 252, 0.4);   
    
}

.product-add:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
    box-shadow: 0 6px 20px rgba(37, 117, 252, 0.6);
    transform: translate(0, -5px);
}

.product-add svg {
    /* El color 'currentColor' del SVG tomará el color del texto del botón (blanco) */
    width: 22px;
    height: 22px;
}

.card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px 15px 15px;
    gap: 10px;
}

.details-button {
    flex-grow: 1; /* Hace que el botón de detalles ocupe el espacio sobrante */
    text-align: center;
    padding: 12px;
    border: 1px solid #00d4ff;
    border-radius: 8px;
    color: #03caf1;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.062);
}

.details-button:hover {
    box-shadow: 0 0px 10px rgba(255, 250, 250, 0.534);
    cursor: pointer;
}

/* Estilos para el modal de detalles  POPPUP*/

/* Overlay (Fondo translúcido) */
.modal-overlay {
    display: none; /* Oculto por defecto */
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(5px);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

/* Caja del Modal */
.modal-content {

    background-color: #0b141e;
    width: 90%;
    max-width: 980px;
    
    /* LIMITAR ALTURA Y ACTIVAR SCROLL */
    max-height: 90vh; /* Ocupa máximo el 90% de la altura de la pantalla */
    overflow-y: auto;  /* Activa la barra de desplazamiento vertical si es necesario */
    
    border: 1px solid #1a3a4a;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 0 30px rgba(0, 212, 255, 0.2);
    color: rgb(179, 173, 173);
    padding: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;


}

/* Grid de dos columnas */
.modal-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
    
}

/* Imagen a la izquierda */
.modal-img-container img {
    width: 100%;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.767);
    padding: 10px;
    object-fit: contain;
    height: 450px;
    
}

/* Info a la derecha TITULO */
.modal-info h2 {
     font-size: 1.8rem; margin-bottom: 10px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     color: white
 }
.modal-price { font-size: 2.9rem; color: #ff6600; font-weight: bold; }
.category-tag {
    color: #020202;
    background-color: #ff6600be;
    border-radius: 25px;
    padding: 5px 10px;
    font-size: 0.8rem;
    box-shadow: 0 0 10px rgba(255, 115, 0, 0.5);
}

.description-title  {
    margin-top: 20px;
    font-size: 1rem;
    color: #3982b3;
    font-weight: bold;
}

.modal-price {
    color: #f74f0dd8;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
.info-extra {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: rgba(255, 255, 255, 0.05);
    padding: 15px;
    border-radius: 10px;
    margin: 20px 0;
    font-size: 0.9rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid #e96208bd;
}

/* Botón Grande de Carrito */
.btn-add-big {
    width: 100%;
    padding: 15px;
    background: linear-gradient(90deg, #00d4ff, #a033ff);
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.close-modal {
    position: absolute;
    top: 15px; right: 20px;
    background: none; border: none;
    color: #8da2b5; font-size: 2rem; cursor: pointer;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

/* Sección de Cantidad */
.quantity-section {
    margin: 20px 0;
}

.section-title {
    color: #00d4ff;
    font-size: 0.8rem;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.quantity-controls {
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn-qty {
    background: transparent;
    border: 1px solid #1a3a4a;
    color: white;
    width: 35px;
    height: 35px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: all 0.2s;
}

.btn-qty:hover {
    border-color: #00d4ff;
    background: rgba(0, 212, 255, 0.1);
}

#product-qty {
    font-size: 1.5rem;
    font-weight: bold;
    min-width: 20px;
    text-align: center;
}

/* Fila de Subtotal */
.subtotal-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: rgba(255, 255, 255, 0.03);
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid #1a2a3a;
}

#product-subtotal {
    color: #00d4ff;
    font-size: 1.4rem;
    font-weight: bold;
}