body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}   
header {
    background-color: #b9bfc5;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    width: 100%;
    height: 80px; 
    }
.header-contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.header-contenedor a{
    text-decoration: none;
    color: rgb(92, 47, 47);
    font-size: 1.2em;
    font-weight: bold;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 15px;}

.header-left img {
    width: 50px;
    height: 50px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-contenedor img {
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loader {
    width: 50px;
    height: 50px;
    animation: rotate 0.5s linear infinite;
    
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(500deg);
    }
}

/*ESTILO PARA LAS TARJETAS DE LOS PRODUCTOS */
/* Contenedor principal que mencionaste en tu HTML */
#products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 25px;
    padding: 25px;
    background-color: #050a12;
}

/* La clase .product que creas en JS */
.product {
    display: flex;
}

/* La tarjeta .card interna */
.card {
    background-color: #0b141e;
    border: 1px solid #3f6e9c;
    border-radius:8px;
    overflow: hidden;
    width: 100%;
    padding-bottom: 15px;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0px 0px 15px rgba(0, 212, 255, 0.3);
}

.card:hover {
    
    border-color: #00d4ff;
    box-shadow: 0px 0px 25px rgba(0, 213, 255, 0.384);
    
}

.card:hover .product-image {
    /* 1.1 significa un 10% de aumento. 
       Puedes usar 1.2 si quieres que se note más */
    transform: scale(0.85); 
}

/* Estilo del enlace (título e imagen) */
.card a {
    text-decoration: none; /* Quitamos el subrayado que pediste antes */
    color: inherit;
    overflow: hidden;
    display: block;
}

/* Imagen del producto */
.product-image {
    width: 100%;
    height: 200px;
    object-fit: contain; /* Para que los productos de la API no se corten */
    background-color: rgba(255, 255, 255, 0); /* Fondo blanco para resaltar el producto */
    padding: 10px;
    display: block;
    transition: transform 0.4s ease;
}

.product-category {
    color: #00d4ff;
    font-size: 0.7rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0 15px;
    margin-top: 10px;
    text-transform: capitalize;
}

/* Título del producto */
.product-title {
    color: #ffffff;
    font-size: 1.1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 19px ;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* Precio */
.product-price {
    color: #f74f0d;
    font-weight: bold;
    font-size: 1.9rem;
    padding: 0 15px;
    margin: 10px 0;
   ;
}

/* Botón Añadir al carrito */
.product-add {
    
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;   
 
    background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
    color: white;
    border: none;
    cursor: pointer;    
    
    transition: transform 0.3s ease, filter 0.3s ease, box-shadow 0.3s ease;
 
    box-shadow: 0 4px 15px rgba(37, 117, 252, 0.4);   
    
}

.product-add:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
    box-shadow: 0 6px 20px rgba(37, 117, 252, 0.6);
    transform: translate(0, -5px);
}

.product-add svg {
    /* El color 'currentColor' del SVG tomará el color del texto del botón (blanco) */
    width: 22px;
    height: 22px;
}

.card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px 15px 15px;
    gap: 10px;
}

.details-button {
    flex-grow: 1; /* Hace que el botón de detalles ocupe el espacio sobrante */
    text-align: center;
    padding: 12px;
    border: 1px solid #00d4ff;
    border-radius: 8px;
    color: #03caf1;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.062);
}

.details-button:hover {
    box-shadow: 0 0px 10px rgba(255, 250, 250, 0.534);
    cursor: pointer;
}