body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}   
header {
    background-color: #b9bfc5;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    width: 100%;
    height: 80px; 
    }
.header-contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.header-contenedor a{
    text-decoration: none;
    color: rgb(92, 47, 47);
    font-size: 1.2em;
    font-weight: bold;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 15px;}

.header-left img {
    width: 50px;
    height: 50px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-contenedor img {
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loader {
    width: 50px;
    height: 50px;
    animation: rotate 0.5s linear infinite;
    
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(500deg);
    }
}

/*ESTILO PARA LAS TARJETAS DE LOS PRODUCTOS */
.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 25px;
    padding: 20px;
    background-color: #050a12; /* Fondo oscuro profundo */
}

